.container1 {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
}

.AjouterBtn {
  align-self: flex-start; 
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

h1 {
  color: #333; 
}

mat-list {
  margin-top: 20px;
}

mat-subheader {
  background-color: #f0f0f0; 
  padding: 10px;
  margin-bottom: 10px;
}

mat-list-item {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

mat-list-item:hover {
  background-color: #f8f8f8; 
}

p {
  color: #555; 
}

button.mat-flat-button {
  background-color: #673ab7; 
  color: #fff; 
}

button.mat-flat-button:hover {
  background-color: #673ab7; 
}

.submit-button2 {
  position: fixed; 
  top: 100px; 
  right: 75px; 
  
  align-self: center;
  margin-top: 15px;
  background-color: #673ab7; 
  color: #fff; 
  transition: background-color 0.3s ease;
}