
body {
  margin: 0;
  padding: 0;
  background-color: #fff; /* Ajoutez une couleur de fond si nécessaire */
}



.container-login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  position: relative;
  z-index: 1;
  width: 300px;
  padding: 40px;
  background-color: #714ab5;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  text-align: center;
  color: #fff;
}




.login-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form-field {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-submit-button {
  width: 100%;
  padding: 15px;
  background-color: #57606f; /* Couleur du bouton (bleu-mauve plus foncé) */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-submit-button:hover {
  background-color: #2c3e50; /* Couleur au survol (bleu-mauve plus foncé) */
}

.logo {
  width: 80px;
  margin-bottom: 20px;
}


  .circle {
    position: absolute;
    border-radius: 50%;
  }
  
  /* Tailles des cercles */
  .large {
    height: 60px;
    width: 60px;
  }
  
  .medium {
    height: 120px;
    width: 120px;
  }
  
  .small {
    height: 40px;
    width: 40px;
  }
  
  /* Couleurs des cercles */
  .blue {
    background-color: #3498db;
  }
  
  .purple {
    background-color: #9b59b6;
  }
  
  .green {
    background-color: #2ecc71;
  }
  
  .red {
    background-color: #e74c3c;
  }
  
  .yellow {
    background-color: #f1c40f;
  }
  
  .orange {
    background-color: #f39c12;
  }
  
  /* Positions des cercles */
  .top {
    top: 0%;
  }
  
  .bottom {
    bottom: 0%;
  }
  
  .left {
    left: 0px;
  }
  
  .right {
    right: 0px;
  }
  
  .half-top {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .half-bottom {
    bottom: 40%;
    transform: translateY(50%);
  }