
.container-login {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 10vh; 
    padding: 10%;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-form-field {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 25px;
  }
  
  .login-submit-button {
    width: 50%;
    align-self: center;
    margin-top: 15px;
    background-color: #673ab7;
    color: #fff;
    transition: background-color 0.3s ease;
    width: 25%;
    padding: 10px;
  }
  
  .login-submit-button:hover {
    background-color: #673ab7;
  }
  



  .circle {
    position: absolute;
    border-radius: 50%;
  }
  
  /* Tailles des cercles */
  .large {
    height: 60px;
    width: 60px;
  }
  
  .medium {
    height: 120px;
    width: 120px;
  }
  
  .small {
    height: 40px;
    width: 40px;
  }
  
  /* Couleurs des cercles */
  .blue {
    background-color: #3498db;
  }
  
  .purple {
    background-color: #9b59b6;
  }
  
  .green {
    background-color: #2ecc71;
  }
  
  .red {
    background-color: #e74c3c;
  }
  
  .yellow {
    background-color: #f1c40f;
  }
  
  .orange {
    background-color: #f39c12;
  }
  
  /* Positions des cercles */
  .top {
    top: 0%;
  }
  
  .bottom {
    bottom: 0%;
  }
  
  .left {
    left: 0px;
  }
  
  .right {
    right: 0px;
  }
  
  .half-top {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .half-bottom {
    bottom: 40%;
    transform: translateY(50%);
  }