<div class="container-login">
    <div class="circle large blue left top"></div>
  <div class="circle medium purple left bottom"></div>
    <div class="login-form">
        <h2>Login</h2>
        <form (ngSubmit)="onSubmit()">
            <label for="username">Username:</label>
            <input class="login-form-field" type="text" id="username" [(ngModel)]="username" name="username" required>

            <label for="password">Password:</label>
            <input class="login-form-field" type="password" id="password" [(ngModel)]="password" name="password" required>

            <button class="login-submit-button" type="submit">Login</button>
        </form>
    </div>
    <div class="circle small green right top"></div>
  <div class="circle large red right bottom"></div>
  <div class="circle small yellow left half-top"></div>
  <div class="circle medium orange right half-bottom"></div>
</div>
