/* Styles for container2 */
.container2 {
  top: 25%;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 10vh; 
  padding: 10%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ajout pour centrer le formulaire verticalement */
  width: 50%;
  padding: 20px;
  background-color: #fff; /* White background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift effect */
}

.form-field {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 25px;
}

.submit-button {
  width: 50%;
  align-self: center;
  margin-top: 15px;
  background-color: #673ab7; 
  color: #fff; 
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #673ab7;
}


/* style dial hadchi jdid */
.container2 {
  position: relative; /* Assurez-vous que le conteneur est positionné de manière relative */
  z-index: 1; /* Assurez-vous que le formulaire est au-dessus d'autres éléments */
}

.form {
  width: 100%; /* Définissez la largeur du formulaire à 100% */
  max-width: 400px; /* Définissez une largeur maximale pour le formulaire */
  margin: 0 auto; /* Centrez le formulaire horizontalement */
  margin-top: 50px;
}