<div class="centered-text">
  <h1>Edit Assignment {{ assignment?.nom }}</h1>
</div>
  <div class="circle large blue left top"></div>
  <div class="circle medium purple left bottom"></div>
<div class="container" *ngIf="assignment">
  <form ngForm class="form" #formupdate (submit)="onSaveAssignment(); formupdate.reset();">
    <mat-form-field class="form-field">
      <input matInput placeholder="Edit Assignment Name" [(ngModel)]="nomAssignment" name="assignment-name" required>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput [matDatepicker]="picker" placeholder="Edit Assignment Date" [(ngModel)]="dateDeRendu" name="date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- Nouveaux champs ajoutés -->
    <mat-form-field class="form-field">
      <input matInput placeholder="Edit Matiere" [(ngModel)]="matiere" name="matiere" required>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="Edit Note" [(ngModel)]="note" name="note" required type="number" min="0" max="30">
    </mat-form-field>
    <mat-form-field class="form-field">
      <textarea matInput placeholder="Edit Remarques" [(ngModel)]="remarques" name="remarques" required></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" class="submit-button" [disabled]="!nomAssignment || !dateDeRendu">
      Save
    </button>
  </form>
  <div class="circle small green right top"></div>
  <div class="circle large red right bottom"></div>
  <div class="circle small yellow left half-top"></div>
  <div class="circle medium orange right half-bottom"></div>
</div>
