/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 80; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body::before {
  content: 'MIAGE';
  position: fixed;
  top: 85%;
  left: 90%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
  pointer-events: none;
  z-index: 9999;
  animation: colorChange 3s infinite alternate;
}

@keyframes colorChange {
  20% {
    color: rgba(255, 255, 255, 0.5);
  }
  100% {
    color: #673ab7; 
  }
}

  