<div class="page-container container3">
  <div class="flex-container">
    <!-- Tableau -->
    <div class="table-container">
      <table mat-table [dataSource]="assignments" class="mat-table">

        <!-- Colonne Date de Rendu -->
        <ng-container matColumnDef="dateDeRendu">
          <th mat-header-cell *matHeaderCellDef>Date de Rendu</th>
          <td mat-cell *matCellDef="let assignment">{{ assignment.dateDeRendu | date }}</td>
        </ng-container>

        <!-- Colonne Nom -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let assignment">
            <a routerLink="/assignments-details/{{assignment.id}}" (click)="onAssignmentClick(assignment)">
              <span appRendu *ngIf="assignment.rendu; else nomsoumis" class="rendu-text">
                {{assignment.nom}}
              </span>
              <ng-template #nomsoumis>
                <span class="non-rendu-text">
                  {{assignment.nom}}
                </span>
              </ng-template>
            </a>
          </td>
        </ng-container>

        <!-- Lignes de la table -->
        <tr mat-header-row *matHeaderRowDef="['dateDeRendu', 'nom']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['dateDeRendu', 'nom'];"></tr>
      </table>
    </div>

    <!-- Affichage des détails -->
    <div *ngIf="showDetails" class="details-container">
      <mat-card *ngIf="assignmentSelectionne" class="selected-assignment">
        <mat-card-title>{{ assignmentSelectionne.nom }}</mat-card-title>
        <mat-card-subtitle>{{ assignmentSelectionne.dateDeRendu | date }}</mat-card-subtitle>

        <!-- Boutons Edit et Delete -->
        <div id="bottom" class="card-actions" *ngIf="isAdmin()">
          <a routerLink="/assignments-details/{{assignmentSelectionne.id}}/edit">
            <button mat-stroked-button color="primary" class="edit-button">
              EDIT
            </button>
          </a>
          <button mat-stroked-button color="warn" (click)="onDelete()" class="delete-button">
            DELETE
          </button>
        </div>

        <!-- Contrôle Devoir Rendu -->
        <mat-checkbox *ngIf="!assignmentSelectionne.rendu" (click)="onAssignmentRendu()" class="checkbox">
          DEVOIR RENDU
        </mat-checkbox>
      </mat-card>
    </div>
  </div>

  <div class="button-container1">
    <button mat-stroked-button color="primary" class="submit-button1" routerLink="/add-assignment">
      Ajouter un devoir
    </button>
  </div>

  <div *ngIf="totalPages > 1" class="mat-pagination-container">
    <button mat-stroked-button color="primary" class="previous" *ngIf="hasPrevPage" (click)="changePage(prevPage)">Previous</button>

    <form (ngSubmit)="goToPage()" #pageForm="ngForm" class="page-form">
      <input type="number" id="pageNumber" name="pageNumber" [(ngModel)]="pageNumber" required>
    </form>

    <span class="page">{{ page }} / {{ totalPages }}</span>
    <button mat-stroked-button color="primary" class="next" *ngIf="hasNextPage" (click)="changePage(nextPage)">Next</button>
  </div>
</div>