/* assignments-details.component.css */

/* Styles for container3 */
.container3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.assignment-list {
  margin-left: 200px;
}

.assignment-item {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.assignment-item:hover {
  background-color: #f8f8f8;
}

.rendu-text {
  color: #ffffff;
  background-color: #673ab7;
}

.non-rendu-text {
  color: #000000;
}

.selected-assignment {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.checkbox {
  margin-top: 10px;
  color: #ffffff;
  background-color: #673ab7;
  line-height: 36px;
  font-weight: 500;
  padding: 0 16px;
  border-radius: 4px;
}

.edit-button {
  margin-right: 10px;
}

.delete-button {
  color: #ffffff;
  background-color: #673ab7;
  margin-left: 20px;
}

.edit-button:hover,
.delete-button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.submit-button1 {
  position: fixed;
  top: 100px;
  right: 75px;
  align-self: center;
  margin-top: 15px;
  background-color: #673ab7;
  color: #fff;
  transition: background-color 0.3s ease;
}

.show-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1;
  background-color: #673ab7;
align-items: center;}

.next {
  position: fixed;
  color: #fff;
  top: 91%;
  left: 93%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #673ab7;
}

.previous {
  position: fixed;
  color: #fff;
  top: 91%;
  left: 87%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #673ab7;
}

.page {
  position: fixed;
  top: 80%;
  right: 7.5%;
  align-self: center;
  background-color: #673ab7;
  color: #fff;
  transition: background-color 0.3s ease;
  transform: translate(-50%, -50%);
}

.page-form {
  position: fixed;
  top: 80%;
  right: 4%;
  align-self: center;
  color: #fff;
  transition: background-color 0.3s ease;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  margin-left: auto;
}

.page-form input {
  margin-right: 5px;
  width: 28px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.table-container {
  width: 50%;
}

.details-container {
  width: 50%;
}

.mat-table {
  width: 100%;
}

.button-container1 {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


/* Ajoutez ceci à la fin de votre fichier CSS */

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer horizontalement */
  text-align: center; /* Centrer le texte horizontalement */
}

.detail-item {
  margin-bottom: 10px; /* Espacement entre les détails */
}

.checkbox {
  margin-top: 10px;
  color: #ffffff;
  background-color: #673ab7;
  line-height: 36px;
  font-weight: 500;
  padding: 0 16px;
  border-radius: 4px;
}

.professeur-image {
  width: 100px; /* Ajustez la taille de l'image selon vos besoins */
  margin-top: 10px; /* Espace entre l'image du professeur et les autres détails */
}

.hidden {
  display: none;
}